.budget-body{
    margin: 30px 0 15px;
    background-color: #bdbdbd;
    padding: 10px 0 10px;
}

label {
    display: block;
    font-weight: 600;
    font-style: normal;
    font-family: 'Roboto', Arial, sans-serif;
}

